<!---- Banner Start ---->
<section id="banner" class="home-page">
	<ul class="bxslider">
		<li style="background:url(assets/img/slide.png) 50% 50% no-repeat; background-size:cover;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 float-right small-text-center col-sm-7 col-xs-12">
						<div class="tablerow">
							<div class="tablecell">
								<h2><span>WE ARE ONE OF THE BEST COMPANY IN</span><br/><span class="blue">call center & </span> Teleservices</h2>
								<p>We are in the call center/teleservices business. We do calling for many different companies and services. </p>
								<a class="btn" href="#">LEARN MORE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li style="background:url(assets/img/slide.png) 50% 50% no-repeat; background-size:cover;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 float-right small-text-center col-sm-7 col-xs-12">
						<div class="tablerow">
							<div class="tablecell">
								<h2><span>WE ARE ONE OF THE BEST COMPANY IN</span><br/><span class="blue">call center & </span> Teleservices</h2>
								<p>We are in the call center/teleservices business. We do calling for many different companies and services. </p>
								<a class="btn" href="#">LEARN MORE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li style="background:url(assets/img/slide.png) 50% 50% no-repeat; background-size:cover;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 float-right small-text-center col-sm-7 col-xs-12">
						<div class="tablerow">
							<div class="tablecell">
								<h2><span>WE ARE ONE OF THE BEST COMPANY IN</span><br/><span class="blue">call center & </span> Teleservices</h2>
								<p>We are in the call center/teleservices business. We do calling for many different companies and services. </p>
								<a class="btn" href="#">LEARN MORE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
		<li style="background:url(assets/img/slide.png) 50% 50% no-repeat; background-size:cover;">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 float-right small-text-center col-sm-7 col-xs-12">
						<div class="tablerow">
							<div class="tablecell">
								<h2><span>WE ARE ONE OF THE BEST COMPANY IN</span><br/><span class="blue">call center & </span> Teleservices</h2>
								<p>We are in the call center/teleservices business. We do calling for many different companies and services. </p>
								<a class="btn" href="#">LEARN MORE</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</section>
<!---- Banner End ---->
<!---- Title Start ---->
<section id="title-black">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<img src="assets/img/text.png" alt="" />
			</div>	
		</div>	
	</div>       
</section>
<!---- Title End ---->
<!---- Welcome-text Start ---->
<section id="welcome-text" class="home">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h6><img src="assets/img/line-left.png" alt="" />WELCOME TO<img src="assets/img/line-right.png" alt="" /></h6>
				<h1><span>FAST & </span> <span class="blue">RELIABLE</span> TELECOMMUNICATIONS INC</h1>
				<h3>ABOUT OUR COMPANY</h3>
			</div>
			<div class="col-lg-8 offset-lg-2 text-center col-xs-12 col-sm-12">
				<h6 class="sm"><img src="assets/img/line-left.png" alt="" />A little brief about us<img src="assets/img/line-right.png" alt="" /></h6>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, to make a type of dummy text specimen book. Lorem Ipsum has been the industry's standard text ever since the 1500s, to make a type of dummy text specimen book</p>
				<a class="btn" href="about.html">LEARN MORE</a>
			</div>	
		</div>	
	</div>       
</section>
<!---- Welcome-text End ---->
<!---- Services Start ---->
<section id="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 title text-center col-xs-12 col-sm-12">
				<h3 class="white-c">WE PROVIDE SERVICES IN DIFFERENT AREAS</h3>
				<h6 class="sm"><img src="assets/img/line-left.png" alt="" />CHECK OUT OUR SERVICES VARIOUS AREAS<img src="assets/img/line-right.png" alt="" /></h6>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-1.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Magazines</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum has been a main industry's standard dummy text ever since the 1500s, it to make a type specimen book</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn" routerLink="services/magazines">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 visible-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-2.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue right col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4> Trade Shows/Trade fair</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum has been a main industry's standard dummy text ever since the 1500s, it to make a type specimen book</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn" routerLink="services/trade_show">READ MORE</a>
						</div>
					</div>
					<div class="col-lg-7 hidden-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-2.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-3.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Sales/Marketing</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum has been a main industry's standard dummy text ever since the 1500s, it to make a type specimen book</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn" routerLink="services/sales_marketting">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 visible-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-4.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue right col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Polling/Surveys</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum has been a main industry's standard dummy text ever since the 1500s, it to make a type specimen book</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn" routerLink="services/polling_surveys" >READ MORE</a>
						</div>
					</div>
					<div class="col-lg-7 hidden-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-4.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 flush col-sm-6 col-xs-12">
						<img class="fullwidth" class="fullwidth" src="assets/img/pic-5.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Lead Generation</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum has been a main industry's standard dummy text ever since the 1500s, it to make a type specimen book</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn" routerLink="services/lead_generation">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 visible-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-6.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue right col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>CHARITIES/CHURCHES/FUNDRAISING</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum has been a main industry's standard dummy text ever since the 1500s, it to make a type specimen book</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn" routerLink="services/charities">READ MORE</a>
						</div>
					</div>
					<div class="col-lg-7 hidden-xs flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-6.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-12 bd col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-7 flush col-sm-6 col-xs-12">
						<img class="fullwidth" src="assets/img/pic-7.png" alt="" />
					</div>
					<div class="col-lg-5 flush bg-blue col-sm-6 col-xs-12">
						<div class="col-lg-12 bg-green text-center col-sm-12 col-xs-12">
							<h4>Political Election</h4>
						</div>
						<div class="col-lg-12 sp col-sm-12 col-xs-12">
							<p>Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum is dummy text of the printing industry. Lorem Ipsum has been a main industry's standard dummy text ever since the 1500s, it to make a type specimen book</p>
						</div>
						<div class="col-lg-12 text-center col-sm-12 col-xs-12">
							<a class="btn" routerLink="services/political_election">READ MORE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</section>
<!---- Services End ---->
<!---- Contact Start ---->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-sm-5 col-xs-12">
			</div>
			<div class="col-lg-6 align-self-end shadow flush end float-right col-sm-7 col-xs-12">
				<div class="col-lg-12 bg-blue text-center col-sm-12 col-xs-12">
					<h4>FILL UP THE FORM & we will get back to you</h4>
				</div>
				<div class="col-lg-12 bg-white col-sm-12 col-xs-12">
					<form #contactForm="ngForm" (ngSubmit)='contactForm.valid && onSubmit(contactForm)'>
						<input class="user" type="text" placeholder="Name*" name="fullName" #fullName='ngModel' [(ngModel)]='contact.fullName' />
						<input class="email" type="text" name="email" #email='ngModel' [(ngModel)]='contact.email' placeholder="Email*" />
						<input class="phone" type="text" name="cellPhone" #cellPhone='ngModel' [(ngModel)]='contact.cellPhone' placeholder="Phone*" />
						<textarea placeholder="Message*" name="message" #message='ngModel' [(ngModel)]='contact.message'></textarea>
						<input type="submit" value="SUBMIT" />
					</form>

					<!-- Success message -->
					<div class="alert alert-success success" *ngIf="showSucessMessage">
						Your form submitted successfully, we will get in touch soon.
					</div>


					<!-- Error message -->
					<div class="alert alert-danger" *ngIf="serverErrorMessages">
						{{serverErrorMessages}}
					</div>
				</div>
			</div>
		</div>	
	</div>       
</section>
<!---- Contact End ---->
<!---- Why Choose Start ---->
<section id="why-choose">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 flush space-small col-sm-8 col-md-7-choose col-xs-12">
				<div class="col-lg-12 small-text-center col-sm-12 col-xs-12">
					<h3>WHY CHOOSE US ?</h3>
				</div>
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-lg-3 text-center col-sm-3 col-xs-12">
							<img src="assets/img/box-1.png" alt="" />
						</div>
						<div class="col-lg-9 small-text-center flush col-sm-9 col-xs-12">
							<h6><b>FAST SERVICES WITH 24/7 SUPPORT</b><br/>Lorem Ipsum has a standard text make specimen book</h6>
						</div>
						<div class="col-lg-12 hidden-xs flush col-sm-12 col-xs-12">
							<div class="col-lg-3 text-center col-sm-3 col-xs-12">
								<img src="assets/img/line-blue.png" alt="" />
							</div>
						</div>
						<div class="col-lg-3 small-text-center col-sm-3 col-xs-12">
							<img src="assets/img/box-2.png" alt="" />
						</div>
						<div class="col-lg-9 small-text-center flush col-sm-9 col-xs-12">
							<h6><b>RELIABLE AFFORDABLE PRICES</b><br/>Lorem Ipsum has a standard text make specimen book</h6>
						</div>
						<div class="col-lg-12 hidden-xs flush col-sm-12 col-xs-12">
							<div class="col-lg-3 text-center col-sm-3 col-xs-12">
								<img src="assets/img/line-blue.png" alt="" />
							</div>
						</div>
						<div class="col-lg-3 small-text-center col-sm-3 col-xs-12">
							<img src="assets/img/box-3.png" alt="" />
						</div>
						<div class="col-lg-9 small-text-center flush col-sm-9 col-xs-12">
							<h6><b>HIGHLY EXPERIENCED TEAM</b><br/>Lorem Ipsum has a standard text make specimen book</h6>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>       
</section>
<!---- Contact End ---->
