<!---- Banner Start ---->
<section id="banner" class="s-polling magazines">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 small-text-center col-xs-12 col-sm-12">
				<div class="col-lg-12 text-right small-text-center col-xs-12 col-sm-12">
					<h6>The Best way for Publishers<br/>to get more Advertisers</h6>
					<h1>Magazines</h1>
				</div>
				<div class="col-lg-12 col-xs-12 col-sm-12">
					<a class="get" href="#">GET STARTED</a>
				</div>
			</div>
		</div>	
	</div>       
</section>
<!---- Banner End ---->
<!---- Magazines-work Start ---->
<section id="magazines-work">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12 col-md-12">
				<h3>lets see HOW our <span>work flows</span></h3>
			</div>
		</div>
		<div class="row bg-1">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-1.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>CALL <span>SUBSCRIBERS</span></h4>
								<p>We call all your subscribers that are receiving the free magazines and update informations </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 01</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-2">
			<div class="col-lg-3 offset-lg-2 left text-right small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 02</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-right-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-2.png" alt="" />
					</div>
					<div class="col-lg-9 text-right col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>VERIFY  <span>INFORMATIONS</span></h4>
								<p>We call all your subscribers that are receiving the free magazines and update informations </p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-2.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-1 t-top">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-3.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>DATABASE </h4>
								<p>All calls are recorded & then data is checked again to make sure database are accurate</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 03</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-2">
			<div class="col-lg-3 offset-lg-2 left text-right small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 04</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-right-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-4.png" alt="" />
					</div>
					<div class="col-lg-9 text-right col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM   <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-4.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-1 t-top">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-5.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 05</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-2">
			<div class="col-lg-3 offset-lg-2 left text-right small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 06</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-right-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-6.png" alt="" />
					</div>
					<div class="col-lg-9 text-right col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM   <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-6.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-1 t-top">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-7.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 07</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="row bg-2">
			<div class="col-lg-3 offset-lg-2 left text-right small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 08</h5>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-right-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-8.png" alt="" />
					</div>
					<div class="col-lg-9 text-right col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM   <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-8.png" alt="" />
					</div>
				</div>
			</div>
		</div>
		<div class="row t-top">
			<div class="col-lg-5 small-text-center s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-4 small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/m-icon-9.png" alt="" />
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>LOREM <span>IPSUM</span></h4>
								<p>Lorem Ipsum has been industry's standard text  make a type specimen book</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 arrow text-right flush col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<img src="assets/img/arrow-left-grey.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-left small-text-center col-xs-12 col-sm-3">
				<div class="tablerow">
					<div class="tablecell">
						<h5>STEP 09</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Magazines-work End ---->
<!---- Welcome-text Start ---->
<section id="welcome-text" class="s-polling magazines">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h3>benefits & solutions <span class="green">for your magazines</span></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7 small-text-center col-sm-12 col-md-6 col-xs-12">
				<div class="row">
					<div class="col-lg-1 col-sm-2 col-md-12 col-xs-12">
						<img src="assets/img/correct-green.png" alt="" />
					</div>
					<div class="col-lg-10 bg-blue col-sm-10 col-md-12 col-xs-12">
						<p>We call a wide variety of industries including metals, health, and wellness, food and beverage, legal, retail, automotive, technology, the animal kingdom, the hospitality industry and much more</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1 col-sm-2 col-md-12 col-xs-12">
						<img src="assets/img/correct-green.png" alt="" />
					</div>
					<div class="col-lg-10 bg-blue col-sm-10 col-md-12 col-xs-12">
						<p>Each auditing bureau has a rules that each call has to be done in a certain way according to the rules to certify if the call was done correctly or </p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1 col-sm-2 col-md-12 col-xs-12">
						<img src="assets/img/correct-green.png" alt="" />
					</div>
					<div class="col-lg-10 bg-blue col-sm-10 col-md-12 col-xs-12">
						<p>We are able to meet all auditing bureau requirement for each and every auditing firm</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-1 col-sm-2 col-md-12 col-xs-12">
						<img src="assets/img/correct-green.png" alt="" />
					</div>
					<div class="col-lg-10 bg-blue col-sm-10 col-md-12 col-xs-12">
						<p>You will get the certification from bureau to be able to charge more money to advertisers for better data</p>
					</div>
				</div>
			</div>
			<div class="col-lg-5 text-center col-sm-12 col-md-6 col-xs-12">
				<img src="assets/img/girl-boy.png" alt="" />
			</div>
		</div>
	</div>       
</section>
<!---- Welcome-text End ---->
<!---- Generate Start ---->
<section id="generate" class="magazines">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-sm-12 col-xs-12">
				<h3>has your <b>publication</b> fallen out of favor<br/>
with your <span>readers?</span></h3>
				<a class="get" href="#">LET’S START</a>
			</div>
		</div>	
	</div>       
</section>
<!---- Generate End ---->