<!---- Welcome-text Start ---->
<section id="welcome-text" class="p-election">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h6 class="bd">Blog</h6>
			</div>
		</div>
		<div class="row">
			<p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo at eum libero, ea velit expedita accusamus eius dolorem cumque quaerat iste repudiandae unde labore cupiditate voluptate nostrum ex praesentium nobis!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo at eum libero, ea velit expedita accusamus eius dolorem cumque quaerat iste repudiandae unde labore cupiditate voluptate nostrum ex praesentium nobis!
      </p>
		</div>
	</div>       
</section>
