<!---- Banner Start ---->
<section id="banner" class="s-polling t-show">
	<div class="container">	
		<div class="bg">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12">
				<h6>CALLING FOR your</h6>
				<h1>TRADE SHOWS</h1>
				<a class="get" href="#">WORK WITH US	</a>
			</div>
		</div>
	</div>
</section>
<!---- Banner End ---->
<!---- Solution-Service Start ---->
<section id="solution-service">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-xs-12 col-sm-12 col-md-12">
				<h6 class="bd">WE ARE EXPERTISE TO DELIVER</h6>
				<h3>solutions & services <span><b>for following areas</b></span></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 small-text-center text-right s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-1.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Trade Shows promoting</h4>
								<p>Call attendes to promote and see if they will be attending the trade show near them</p>
							</div>
						</div>
					</div>
					<div class="col-lg-2 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-1.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-left b-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 small-text-center flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-2.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Trade Show Registration</h4>
								<p>Register the person for the Trade Shows</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 small-text-center text-right s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-3.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Seminar Registration</h4>
								<p>Register the person for the Seminars</p>
							</div>
						</div>
					</div>
					<div class="col-lg-2 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-3.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-left b-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 small-text-center flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-4.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Notify Trade Show</h4>
								<p>Notify about upcoming Trade Show or Conventions</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 small-text-center text-right s-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 visible-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-5.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Trade Show Questionnaires</h4>
								<p>Do the Questions Answers Event for Trade Show</p>
							</div>
						</div>
					</div>
					<div class="col-lg-2 hidden-xs small-text-center text-right flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-5.png" alt="" />
					</div>
				</div>
			</div>
			<div class="col-lg-6 small-text-center s-left b-right col-xs-12 col-sm-6">
				<div class="row">
					<div class="col-lg-2 small-text-center flush col-xs-12 col-sm-3">
						<img src="assets/img/icon-s-6.png" alt="" />
					</div>
					<div class="col-lg-10 col-xs-12 col-sm-9">
						<div class="tablerow">
							<div class="tablecell">
								<h4>Trade Show space selling</h4>
								<p>Sell space to promote Trade Shows</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- Solution-Service End ---->
<!---- News-Info Start ---->
<section id="news-info">
	<div class="container">
		<div class="row">
			<div class="col-lg-11 column-centered col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-1 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<ul class="bxslider">
										<li>
											<div class="row">
												<div class="col-lg-8 col-xs-8 col-8 col-sm-9">
													<h4>News<br/>Updates</h4>
												</div>
												<div class="col-lg-4 text-right col-xs-4 col-4 col-sm-3">
													<img src="assets/img/icon-1.png" alt="" />
												</div>
												<div class="col-lg-12 text-right col-xs-12 col-sm-12">
													<hr/>
												</div>
												<div class="col-lg-12 col-xs-12 col-sm-12">
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry</p>
													<h6><i>18th May, 2017</i></h6>
												</div>
											</div>
										</li>
										<li>
											<div class="row">
												<div class="col-lg-8 col-xs-8 col-8 col-sm-9">
													<h4>News<br/>Updates</h4>
												</div>
												<div class="col-lg-4 text-right col-xs-4 col-4 col-sm-3">
													<img src="assets/img/icon-1.png" alt="" />
												</div>
												<div class="col-lg-12 text-right col-xs-12 col-sm-12">
													<hr/>
												</div>
												<div class="col-lg-12 col-xs-12 col-sm-12">
													<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry</p>
													<h6><i>18th May, 2017</i></h6>
												</div>
											</div>
										</li>
									</ul>
									<div class="outside col-lg-12 flush col-xs-12 col-sm-12 text-right">
										<p><span id="slider-prev"></span> <span id="slider-next"></span></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-2 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<div class="col-lg-8 flush col-xs-12 col-8 col-sm-9">
										<h4>Have<br/>Query?</h4>
									</div>
									<div class="col-lg-4 flush text-right col-xs-12 col-4 col-sm-3">
										<img src="assets/img/icon-2.png" alt="" />
									</div>
									<div class="col-lg-12 flush text-right col-xs-12 col-sm-12">
										<hr/>
									</div>
									<div class="col-lg-12 flush col-xs-12 col-sm-12">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry</p>
										<a class="read text-center green" href="#">ASK US</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-3 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<div class="col-lg-8 flush col-xs-12 col-8 col-sm-9">
										<h4>Trade<br/>promote</h4>
									</div>
									<div class="col-lg-4 flush text-right col-xs-12 col-4 col-sm-3">
										<img src="assets/img/icon-3.png" alt="" />
									</div>
									<div class="col-lg-12 flush text-right col-xs-12 col-sm-12">
										<hr/>
									</div>
									<div class="col-lg-12 flush col-xs-12 col-sm-12">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry</p>
										<a class="read text-center" href="#">REGISTER</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-4 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<div class="col-lg-8 flush col-xs-12 col-8 col-sm-9">
										<h4>TRADE<br/>SPACE SELLING</h4>
									</div>
									<div class="col-lg-4 flush text-right col-xs-12 col-4 col-sm-3">
										<img src="assets/img/icon-4.png" alt="" />
									</div>
									<div class="col-lg-12 flush text-right col-xs-12 col-sm-12">
										<hr/>
									</div>
									<div class="col-lg-12 flush col-xs-12 col-sm-12">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry. Lorem Ipsum is simply dummy text of book</p>
										<a class="read text-center" href="#">SELL TRADE SPACE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-xs-12 col-sm-12 col-md-6">
						<div class="col-lg-12 bg-5 col-xs-12 col-sm-12">
							<div class="col-lg-12 bd col-xs-12 col-sm-12">
								<div class="row">
									<div class="col-lg-8 flush col-xs-12 col-8 col-sm-9">
										<h4>SEMINAR<br/>REGISTER</h4>
									</div>
									<div class="col-lg-4 flush text-right col-xs-12 col-4 col-sm-3">
										<img src="assets/img/icon-5.png" alt="" />
									</div>
									<div class="col-lg-12 flush text-right col-xs-12 col-sm-12">
										<hr/>
									</div>
									<div class="col-lg-12 flush col-xs-12 col-sm-12">
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry in the market of this industry</p>
										<a class="read text-center" href="#">REGISTER</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!---- News-Info End ---->
<!---- generate Start ---->
<section id="generate" class="t-show">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center col-sm-12 col-xs-12">
				<h6>WE WILL HELP YOU TO</h6>
				<h3>GROW YOUR <span class="green">ATTENDANCE</span></h3>
				<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown<br/> printer took a galley of type and scrambled it to make a type specimen book.</p>
				<div class="call"><span>CALL US</span><a href="tel:6305712720">630-571-2720</a></div>
			</div>
		</div>	
	</div>       
</section>
<!---- generate End ---->
<!---- take-business Start ---->
<section id="take-business">
	<div class="container">
		<div class="row t-b">
			<div class="col-lg-12 column-centered small-text-center col-xs-12 col-sm-12">
				<div class="row">
					<div class="col-lg-5 bg-take small-text-center col-sm-12 col-md-5 col-xs-12">
						<img class="align" src="assets/img/bg-t-business.png" alt="" />
						<h2>TAKE YOUR <br/><span class="blue">BUSINESS</span><br/>TO THE <br/><span class="green">NEXT LEVEL</span> <img src="assets/img/paper-img.png" alt="" /></h2>
					</div>
					<div class="col-lg-7 normal-left-space small-text-center col-sm-12 col-md-7 col-xs-12">
						<h3>what are you <span class="green">waiting for?</span></h3>
						<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an printer industry of the manufaturer took a galley of type and it to make a type specimen book</p>
						<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an printer to make a type specimen book</p>
						<a class="get" href="#">CONTACT US</a>
					</div>
				</div>
			</div>
		</div>	
	</div>       
</section>
<!---- take-business End ---->